*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html , body{
    height: 100;
    width: 100%;
    font-family: sans-serif;
    background-color: #e87c7222;
}


header{
    display: sticky;
    top: 0;
    background-color: #ffbe6e;
    background-color: #8B4513;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 20px;
}

#leftpart{
    margin-top: 10px;
}

#leftpart img{
    height: 100px;
    width: 100px;
    border-radius: 50%;

}

#right ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
}


a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    color: bisque;
    text-shadow: 0.4px 0.4px 2px bisque;
}

footer {
    text-align: center;
    min-height: 40px;
    padding-top: 30px;
}

#footer p {
    font-size: 1.30rem ;
    color: bisque;
    background-color: #8B4513;
    padding-top: 10px;
    padding-bottom: 5px;
}


main{
    width: 90%;
    margin: auto;
    margin-top: 30px;
    /* border: 2px solid black; */
    box-shadow: 1px 1px 35px  black;
    background-color: #f7a163;
    border-radius: 10px;
}

#content{
    display: flex;
    justify-content: space-between;
    padding: 5rem;
}

.rightcontent{
    position: relative;
    overflow:hidden;
    transition: all linear 0.5s 0s;
    box-shadow: 1px 1px 30px black;;
    border-radius: 50px;
}

.rightcontent img{
    height: 100%;
    width: 400px;
    border-radius: 50px;
}


.rightcontent:hover{
    transform: scale(1.1);
    border-radius: 50px;
}



.left{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.left>h2{
    font-size: 3rem;
    font-weight: bolder;
    color: #7b3300;
    text-shadow: 0px 0px 1px #7b3300;
}

.ingrediants h2 ,.recipe h2{
    font-size: 2rem;
    font-weight: 600;
    color:rgb(155, 0, 0);
    text-shadow: 0px 0px 1px rgb(155, 0, 0)  ;
}

#main li{
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    line-height: 40px;
    font-weight: bold;
}

.rightcontent .greyscale{
    position: absolute;
    top: 0;
    left: 0;
    height: 99%;
    width: 100%;
    background-color: rgba(36, 34, 34, 0.713);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s linear;
    
}

.rightcontent .greyscale span{
    color: white;
    font-size: 1.2rem;
}

.rightcontent:hover .greyscale{
    opacity: 1;
}

body::-webkit-scrollbar{
    background-color: transparent;
    width: 10px ;
}

body::-webkit-scrollbar-thumb{
    background-color:#ec6a0de6;
}